<%- include('partials/loggedHeader') -%>

          <div class="container flex">
            <section>
              <h1>Welcome!</h1>
              <h4><%= user.firstName %> <%= user.lastName %></h4>
            </section>
            <section>          
              <p><strong>User Name</strong>: <%= user.userName %></p>
              <p><strong>Email</strong>: <%= user.email %></p>
            </section> 
          </div>

          <section class="container">
            <p>This dashboard will show all documents created by you.</p>
            <p>It is also where you can navigate to create documents, or search the knowledge base.</p>
          </section>

          <section class="container flex">
            <a href="/sop"><button class="proBtn">Create SOP</button></a>
            <a href="/knowledgeBase"><button class="proBtn">Search Knowledge Base</button></a>
          </section>

        <section class="container flex ">
        
        <% for(var i=0; i<posts.length; i++) {%> 
          <div class="profilePost profileBorder alignCenter">                         
                <a href="/post/<%= posts[i]._id%>">
                    <span class="alignCenter"><%= posts[i].issueType%><br></span>
                    <span class="alignCenter"><%= posts[i].title%><br></span>                    
                    <span class="alignCenter"><%= posts[i].briefDescription%><br></span>
                  <img class="profileImg" src="<%= posts[i].image%>">
                </a>            
           </div>
        <% } %> 
        </section> 
        </div>
      </div>
    </div>


<%- include('partials/footer') -%>